* {
    box-sizing: border-box;
}

html {
    background-color: rgb(38, 30, 28);
    color: #fff;
}

body,
html {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

h2,
h3 {
    font-family: "Prata", serif;
    font-weight: 400;
    font-size: 48px;
}

h3 {
    font-size: 24px;
}

p {
    font-family: "Rubic", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.pre-title,
.line {
    display: flex;
    font-family: "Great Vibes", cursive;
    font-size: 28px;
    color: rgb(200, 105, 57);
    font-style: italic;
    font-weight: 300;
}